<style>
</style>

<h4>Hi there, welcome to Blackjack.</h4>
<br>
What's your name?
<form action = '/set_name' method ='post'>
<input type ='text' class = 'name_value' name ='player_name'/>
<br/>
<input type ='submit' value = 'PLAY'class ='btn btn-medium btn-danger name_btn'>
</form>

