<h4>Hi <%=session[:player_name]%>, you have $<%=session[:player_account]%> to play with.</h4>
Place your bet for this round.
<form action = '/bet' method ='post'>
<input type ='text' class = 'hitform inputname' name ='bet_amount'/>
<br/>
<input type ='submit' value = 'BET'class ='hitform btn btn-medium btn-danger'>
</form>

