<div class = 'main'>

<h4>You have $<%=session[:player_account]%> in the bank. Place your bet for this round.</h4>

<form action = '/bet' method ='post'>
  Bet Amount:<input type ='text' class = 'hitform inputname' name ='bet_amount'/>
<br/>
<input type ='submit' class ='hitform btn btn-medium btn-danger'>
</form>

</div>