
/* global body */
body{
  background-size: 130%;
  background-color: #076324;
  padding: 1em;
  color: white;
  margin-left: 1px;
  margin-right: 1px;
}
#new_game{
  margin-left: 1em;
  margin-top: 0.2em;
}
#new_player{
  margin-left: 1em;
  margin-top: 0.2em;
}
.alert{
  margin-top: 1em;
  width: 35.5em;
}
.text_box{
padding:0.5em;
background-color:white;
border-radius:5px;
color: black;
width: 38em;
height: 100%;
}

.front_page{
position:relative;
width: 20em;
margin-top: 1em;
}

.next2{
  width:25em;
}

.well{
padding: 0;
padding-left: 0.5em;
padding-right: 0.5em;
padding-bottom: 0.5em;
width: 38em;
}

/* text input on set_name page */
.name_value{
  display: inline;
}

.name_btn{
  display: inline;
}
.card_image{v
margin-left:0.1em; 
margin-right:0.1em;
height:10em;

}

.card_image2{v
margin-left:0.1em; 
margin-right:0.1em;
height:10em;

}

h4{
  color: white;
  margin-top:;
}

h5{
  color: black;
}

.navbar-right{padding-top: 0.8em;}

.bank{
margin-top: 1em;
}

.hitform{
margin-bottom: -1em;
]}

form#hit{

}
form#hit input{
  width:5em;
  float: left;
  
}
form#stay{
   margin-left: 0.5em;
   float: left;
}

form#stay input{  
  width:5em;
}

.li{
  color:black;

}