
/* global body */
body{
  background-image:url("/images/felt.jpg");
  background-color: #2F4F4F;
  padding: 1em;
  color: white;
  margin-left: 1px;
  margin-right: 1px;
}
#new_game{
  margin-left: 1em;
  margin-top: 0.45em;
}
#new_player{
  margin-left: 1em;
  margin-top: 0.45em;
}
.alert{
  margin-top: 1em;
  width: 35.5em;
}
.text_box{
padding:0.5em;
background-color:white;
border-radius:5px;
color: black;
width: 38em;
height: 100%;
}

.front_page{
position:relative;
width: 20em;
margin-top: 1em;
}

.next2{
  margin-top:-1.6em;
  width:10em;
}

.well{
padding: 0;
padding-left: 0.5em;
padding-right: 0.5em;
padding-bottom: 0.5em;
width: 38em;
}

/* text input on set_name page */
.name_value{
  display: inline;
}

.name_btn{
  display: inline;
}
.card_image{v
margin-left:0.1em; 
margin-right:0.1em;
height:10em;

}

.card_image2{v
margin-left:0.1em; 
margin-right:0.1em;
height:10em;

}

h4{
  color: white;
  margin-top:;
}

h5{
  color: black;
}

.navbar-right{padding-top: 0.8em;}

.bank{
margin-top: 2em;
}

#bet_btn{
  float:left;
  width:6em;
  display:inline;
  position:absolute;
  left:8em;
  top:0.45em;
}

#bet_val{
  float:left;
  width:5em;
  display:inline;
  position:absolute;
  margin-top: -0.2em;
}
#bet_btn2{
  float:left;
  width:6em;
  display:inline;
  position:absolute;
  left:8em;
  top:0.45em;
  opacity:0;
}

#bet_val2{
  float:left;
  width:5em;
  display:inline;
  position:absolute;
  margin-top: -0.2em;
  opacity:0;
}
.hitform{
margin-bottom: -2em;
]}

form#hit{
  display: inline;
  
}
form#hit input{
  width:5em;
  margin-bottom:1em;
}
form#stay{
  display: inline;

}

form#stay input{  margin-bottom:1em;width:5em;
}

.li{
  color:black;

}